@import "tailwindcss";


@layer base{

  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0;
    box-sizing:border-box;
  }
  
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }

}

@layer utilities{
 
    /* LIGHT MODE */
    .bg-primary   { @apply bg-gray-100; }
    .bg-secondary { @apply bg-gray-200; }
    .bg-tertiary  { @apply bg-cyan-700; }

    .text-primary   { @apply text-gray-900; }
    .text-secondary { @apply text-gray-600; }
    .text-tertiary  { @apply text-cyan-700; }
    .text-subtitle  { @apply text-blue-700; }

    /* DARK MODE*/
    .dark .bg-primary     { @apply bg-gray-800; }
    .dark .bg-secondary   { @apply bg-gray-700; }
    .dark .bg-tertiary    { @apply bg-cyan-600; }

    .dark .text-primary   { @apply text-white; }
    .dark .text-secondary { @apply text-gray-300; }
    .dark .text-tertiary  { @apply text-cyan-300; }
    .dark .text-subtitle  { @apply text-blue-400; }



  /* TEXTS*/
  .title-primary {
    @apply text-3xl md:text-5xl font-extrabold text-center;
  }  
  .subtitle{
    @apply text-2xl sm:text-3xl lg:text-4xl font-bold text-center text-wrap;
  }
  .subtitle-secondary { @apply text-xl sm:text-2xl text-center; }
  .paragraph{
    @apply text-white text-center text-lg sm:text-2xl break-words whitespace-normal text-pretty leading-normal md:leading-relaxed lg:leading-loose py-3;
  }
  .text-accent { @apply text-xl sm:text-2xl; }
  .text-accent-secondary { @apply text-sm md:text-lg; }
}


@layer components{
  /*  BUTTONS  */
  .btn{
    @apply bg-cyan-600 hover:bg-cyan-800 text-white cursor-pointer px-3 py-2 shadow-lg rounded-lg
  }

  
  /*  NAVBAR  */
  .navbar{
    @apply w-full h-20 py-3 px-4 flex justify-between items-center sticky top-0 z-50;
  }
  .dropdown{
      @apply absolute top-full right-0 w-full sm:hidden p-8 z-50 border-b-2 border-t-2; 
  }

  /*  FOTO & ICONS  */
  .foto {  @apply w-full h-full rounded-lg object-cover shadow-lg; }
  .icon{
    @apply p-2 text-4xl text-cyan-300 sm:text-5xl hover:text-white transition-colors duration-300;
  }

  .form-contacts  { @apply bg-inherit text-white w-full max-w-3xl mx-auto p-6; }
  /*  FORM  */
  .form-input {
    @apply rounded-md w-full hover:bg-cyan-800 focus:outline-none focus:ring-2 focus:ring-cyan-800 transition-all mr-0 sm:mr-6 p-3 my-5 md:my-0;
  }
  
  .form-input::placeholder {@apply text-gray-300 text-center}

}