@import "tailwindcss";


@layer base{
  :root{
    --bg-primary-color: #1F2937;
    --bg-secondary-color: #374151;
    --bg-tretiary-color: #0891B2;
    --bg-hover-color: #0E7490;

    --text-primary-color: #fff;
    --text-secondary-color: #D1D5DB;
    --text-tretiary-color: #67E8F2;

  }

  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0;
    box-sizing:border-box;
  }
  
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }

}

@layer utilities{
  .bg-primary{
    background-color: var(--bg-primary-color);
  }
  .bg-secondary{
    background-color: var(--bg-secondary-color);
  }
  .text-primary{
    color: var(--text-primary-color);
  }
  .text-secondary{
    color: var(--text-secondary-color);
  }
  .text-tretiary{
    color: var(--text-tretiary-color);
  }
}


@layer components{
  .custom-button{
    @apply px-3 py-2 shadow-lg rounded-lg;
    background-color: var(--bg-tretiary-color);
    color: var(--text-primary-color);
    border: 1px solid var(--bg-tretiary-color);
  }
  .custom-button:hover{
    background-color:var(--bg-hover-color);
    color: var(--text-primary-color);
  }
  .navbar{
    @apply w-full h-16 py-3 px-4 flex justify-between items-center relative;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    border-bottom: 3px solid var(--text-tretiary-color);
  }
  .nav-links{
    @apply hidden md:flex flex-1 justify-center items-center gap-4;
  }
  .nav-search{
    @apply hidden sm:flex items-center min-w-[200px];
  }
  .li-style{
    @apply text-xl px-3 py-2 transition-colors duration-200 ease-in-out;
    color: var(--text-primary-color);
  }
  .li-style:hover{
    background-color: var(--bg-secondary-color);
    color:var(--text-tretiary-color);
    border-radius: 11px;
  }
  .nav-input{
    @apply pl-9 w-full py-2 hidden sm:block;
    border-radius: 11px;
    background-color: var(--bg-secondary-color);
    color: var(--text-primary-color);
    border: 1px solid var(--text-tretiary-color);
  }
  .nav-input::placeholder {
    color: var(--text-secondary-color);
  }
  .nav-icon{
    @apply absolute hidden sm:block;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-tretiary-color);
  }
  .dropdown{
    @apply absolute top-full right-0 w-full md:hidden shadow-lg mt-3 py-4 px-2;
    background-color: var(--bg-primary-color);
    border-top: 1px solid var(--text-tretiary-color);
    border-bottom: 1px solid var(--text-tretiary-color);
  }
  
  .dropdown ul {
    @apply flex flex-col gap-4;
  }
  
  .dropdown .li-style {
    @apply text-right px-4;
  }
  .buttons{
    @apply p-3;
    background-color: var(--text-tretiary-color);
    color: var(--text-primary-color);
  }
  .cards{
    @apply rounded-lg shadow-lg p-6 m-4;
    background-color: var(--bg-secondary-color);
  }
  .foto{
    @apply w-40 h-40 md:w-48 md:h-48 rounded-full object-cover shadow-lg;
  }
  .foto-container{
    @apply p-2 rounded-full;
    background-color: #fff;
  }
  .subtitle{
    @apply text-2xl lg:text-xl font-bold text-center;
    color: var(--text-tretiary-color)
  }
  .paragraph{
    @apply text-xl text-center text-wrap py-2;
    color: var(--text-primary-color);
  }
  .icon{
    @apply p-2 text-4xl md:text-5xl;
    color: var(--text-tretiary-color);
  }
  .icon:hover{
    @apply transition-colors duration-300;
    color: var(--text-primary-color)
  }

  .carousel-div{
    @apply flex flex-col justify-center items-center w-full max-w-3xl mx-auto h-screen rounded-lg shadow-lg p-3 my-5;
    background-color: var(--bg-secondary-color)
  }
  .footerStyle{
    @apply border-t-2 p-3;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    border-color: var(--text-tretiary-color)
  }
}